{% extends "base.html" %}

{% block content %}
    <h1>User List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Last Seen</th>
                <th>Online</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.last_seen }}</td>
                     <td>{{ "Online" if user.is_online() else "Offline" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}