{# app/templates/server_management/add_playbook.html #}
{% extends "base.html" %}

{% block content %}
    <h1>Add Playbook</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="10") }}  {# Большое поле #}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}