{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
             {% for error in form.username.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                 <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
         <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            {% for error in form.first_name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
            {% for error in form.last_name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.role.label(class="form-label") }}
            {{ form.role(class="form-select") }}
            {% for error in form.role.errors %}
               <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}

        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}